
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
  <li>  <a href="/CPA">Click to Visit CPA Students</a> </li> 
  <li>  <a href="/allStudents">All Students </a> </li>
 <li>   <a href="http://localhost:8080/student/3">Locate BY Student ID </a> </li>
 <li>   <a href="/addStudent">Add a new Student </a> </li>
  <li>  <a href="/highGPA"> Highest GPA </a> </li>
  <li>  <a href="/home"> Home </a> </li>
</ul>
    <hr>

    {{{body}}}
<hr>
        <h2>Student Honour Pledge:
I acknowledge Seneca College's academic integrity policy.
On my honor, I have neither given or received unauthorized aid on this test</h2>
    <p>Name: <mark> Gunjan Kaur Paul </mark></p>
    <p>Student Number: <mark> 156409211 </mark></p>

</body>
</html>
